.App {
  background: linear-gradient(to top, #dbe6e7, #fffffa);
}

::-webkit-scrollbar {
  height: 70%;
}

/* Track */
::-webkit-scrollbar-track {
  width: 8px;
  background: linear-gradient(to top, #dbe6e7, #fffffa);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #44b6b6, #238f99, #44b6b6);
  border-radius: 5px;
  border: 2px solid white;
  -webkit-transition: 2s;
  transition: 2s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #56cccc, #4abdbd, #56cccc);
  width: 80%;
}

html {
  scroll-behavior: smooth;
}